body   {
	background-color: white;
	padding: 0;
	margin: 0;
	font-size:16px;
}
p     {
	padding: 0;
	margin: 0;
	font-size:16px;
}
body{   
	margin:0;
	position: relative;
}
/*头部部分 */
main{
	margin-top: 3rem;
	margin-bottom:1rem ;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #5AC0CE;
	line-height:3rem;
	height: 3rem;
}
.headpart{
	margin: 0 auto;
	width: 8rem;
}
.emple,.nurworker{
	border-radius: 0.4rem;
	line-height: 2.3rem;
        height: 2.3rem;
        margin-top: 0.3rem;
        width: 50%;
	float: left;
}
.emple{
	color: white;
	background-color: #54A7B2;
}
.nurworker{
	margin-left: -0.1rem;
	color:#5AC0CE;
	background-color: white;
}
.icon-map_map{
	float: right;
        margin-right: 0.5rem;
	color: white;
	font-size: 1.5rem;
}
/*下拉列表*/
.navpart{
	text-align: center;
	line-height: 2.7rem;
	height:2.7rem ;
	border-bottom: solid 1px #CCCCCC;
}
.adress,.rab,.patient{
	font-weight: bold;
	color: #CCCCCC;
	border-right: solid 1px #CCCCCC;
	float: left;
	height: 100%;
	width: 33%;
}
.icon-xialajiantouxiangxia{
	margin: 0 0.5rem 0 0;
	float: right;
	color: #8C8C8C;
	font-size: 0.7rem;
}
/*主题部分*/
.cetion{
	border-bottom: solid 1px #CCCCCC;
	line-height: 6rem;
	height: 6rem;
}
.sidebar_a{
	padding-top: 0.4rem;
	line-height: 1.8rem;
	float: left;
}
.sidebar_a p{
	color: #C0C0C0;
}
.sidebar_a div{
	padding-left: 2rem;
	color: #3C3C3C;
}
.sidebar_b{
	float: right;
}
.icon-rili,.icon-mp-location{
	color: #C0C0C0;
	margin: 0  0.6rem;
}
.sidebar_b{
	color: red;
}
.icon-xiangyou{
	color: #5AC0CE;
}
/*尾部菜单*/
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #5AC0CE;
	background-color:#F9FAFC;
	height: 3.4rem;
}
.page,.mine{
	text-align: center;
}
.page{
	position: absolute;
	top: 0.6rem;
	left: 5rem;
}
.page p{
	font-size: 0.8rem;
	margin-top: 0.2rem;
    width: 100%;
}
.icon-shouye{
	color: #5AC0CE;
	width: 100%;
	font-size:1.8rem;
}
.icon-wode{
	color: #8C8C8C;
	width: 100%;
	font-size: 1.6rem;
}
.mine{
	position: absolute;
	right: 5rem;
	top: 0.6rem;
	color: #8C8C8C;
}
.mine p{
	margin-top: 0.2rem;
	font-size: 0.75rem;
}
.compail{ 
	margin: 0 auto;
	margin-top: 0.2rem;
	width: 3rem;
	height: 3rem;
	border-radius:50%;
	background-color: #5AC0CE;
}
.compailone{
	
}
.icon-bianji2 {
	padding-top: 0.3rem;
	padding-right: 0.4rem;
	color: white;
	line-height:2rem ;
	font-size: 1.5rem;
}
